*.egg-info
.cache
.coverage
.tox
__pycache__
.sagemaker-code-config
untracked/*
.idea/*
temp/*
docs
scripts/.ipynb_checkpoints/*
wslenv/*
training/.ipynb_checkpoints/*
training/models/.ipynb_checkpoints/*
.ipynb_checkpoints/*
ml_pipelines/.ipynb_checkpoints/*
ml_pipelines/utils/.ipynb_checkpoints/*
source_scripts/postprocessing/.ipynb_checkpoints/*
source_scripts/preprocessing/.ipynb_checkpoints/*
venv
.idea
.DS_Store
notebooks/.ipynb_checkpoints/*
